
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/styles/index.css}" />
    <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
    ></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" id="my-navbar">
    <a class="navbar-brand" href="redirect:/"
    ><img
            th:src="@{/GreenStep-logos/GreenStep-logos_black.png}"
            alt=""
            srcset=""
            width="50 px"
    /></a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/footprint}">Calculate Footprint</a>
            </li>
            <!--          <li class="nav-item dropdown">-->
            <!--            <a-->
            <!--              class="nav-link dropdown-toggle"-->
            <!--              href="#"-->
            <!--              id="navbarDropdown"-->
            <!--              role="button"-->
            <!--              data-toggle="dropdown"-->
            <!--              aria-haspopup="true"-->
            <!--              aria-expanded="false"-->
            <!--            >-->
            <!--              Calculate Footprint-->
            <!--            </a>-->
            <!--            <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
            <!--              <a class="dropdown-item" th:href="@{/footprint}" >House</a>-->
            <!--              <a class="dropdown-item" href="#">Car</a>-->
            <!--              <a class="dropdown-item" href="#">Flights</a>-->
            <!--              <div class="dropdown-divider"></div>-->
            <!--              <a class="dropdown-item" href="#">Totals</a>-->
            <!--            </div>-->
            <!--          </li>-->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/checklist}">Checklist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/journal}">Journal</a>
            </li>
        </ul>
        <div class="form-inline nav-item">
            <a th:href="@{/logout}" class="nav-link" id="logout-button"> Log out </a>
        </div>
    </div>
</nav>
<br />
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully registered
                    to our awesome app!</div>
            </div>

            <h1>Registration</h1>
            <form th:action="@{/registration}" th:object="${user}" method="post">

                <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
                    error</p>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                    <label for="firstName" class="control-label">First name</label> <input
                        id="firstName" class="form-control" th:field="*{firstName}" />
                    <p class="error-message"
                       th:each="error: ${#fields.errors('firstName')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                    <label for="lastName" class="control-label">Last name</label> <input
                        id="lastName" class="form-control" th:field="*{lastName}" />
                    <p class="error-message"
                       th:each="error : ${#fields.errors('lastName')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                    <label for="email" class="control-label">E-mail</label> <input
                        id="email" class="form-control" th:field="*{email}" />
                    <p class="error-message"
                       th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation
                        error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
                    <label for="confirmEmail" class="control-label">Confirm
                        e-mail</label> <input id="confirmEmail" class="form-control"
                                              th:field="*{confirmEmail}" />
                    <p class="error-message"
                       th:each="error : ${#fields.errors('confirmEmail')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                    <label for="password" class="control-label">Password</label> <input
                        id="password" class="form-control" type="password"
                        th:field="*{password}" />
                    <p class="error-message"
                       th:each="error : ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                    <label for="confirmPassword" class="control-label">Confirm
                        password</label> <input id="confirmPassword" class="form-control"
                                                type="password" th:field="*{confirmPassword}" />
                    <p class="error-message"
                       th:each="error : ${#fields.errors('confirmPassword')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('terms')}? 'has-error':''">
                    <input id="terms" type="checkbox" th:field="*{terms}" />   <label
                        class="control-label" for="terms"> I agree with the <a
                        href="#">terms and conditions</a> for Registration.
                </label>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('terms')}" th:text="${error}">Validation
                        error</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                    <span>Already registered? <a href="/" th:href="@{/login}">Login
                       here</a></span>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>

